# ignore everything by default
*

# git aliases, identification info
!.gitconfig
!.gitignore
!.gitexcludes
!.gitattributes

# .config
!.config

# himalaya
!.config/himalaya/
!.config/himalaya/config.toml

# kitty
!.config/kitty
!.config/kitty/catppuccin
!.config/kitty/kitty.conf

# neovide
!.config/neovide
!.config/neovide/*

# neovim
!.config/nvim

# starship
!.config/starship.toml

# skhdrc
!.skhdrc

# yabai
!.yabairc

# zsh
!.zshrc

