# ignore everything by default
*

# git aliases, identification info
!.gitconfig
!.gitignore
!.gitexcludes
!.gitattributes

# .config
!.config

# bat
!.config/bat
!.config/bat/**/*

# delta
!.config/delta
!.config/delta/**/*

# ghostty
!.config/ghostty
!.config/ghostty/**/*

# neovide
!.config/neovide
!.config/neovide/**/*

# neovim
!.config/nvim
!.config/nvim/**/*

# starship
!.config/starship.toml

# skhdrc
!.skhdrc

# yabai
!.yabairc

# yazi
!.config/yazi
!.config/yazi/**/*

# zsh
!.zshrc

