[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Emonadeo/nvim.git
[submodule ".config/kitty/catppuccin"]
	path = .config/kitty/catppuccin
	url = git@github.com:catppuccin/kitty.git
