# ignore everything by default
*

# git aliases, identification info
!.gitconfig
!.gitignore
!.gitexcludes
!.gitattributes

# .config
!.config

# ghostty
!.config/ghostty
!.config/ghostty/*

# neovide
!.config/neovide
!.config/neovide/*

# neovim
!.config/nvim

# starship
!.config/starship.toml

# skhdrc
!.skhdrc

# yabai
!.yabairc

# yazi
!.config/yazi
!.config/yazi/*

# zsh
!.zshrc

